<div class="card list text-center search-card search-item" style="width:95%; max-width:60rem;">
   <div class="search-item-header float-left">
      <h4 class="search-item-title"><a href="/author/{{author_id}}">{{author_name}}</a></h4>
      <h6 class="search-item-site">From: <a href="https://{{base_url}}">{{site_title}}</a></h6>
   </div>
</div>
