<footer class="page-footer font-small green-gradient text-center">
         <div class="footer-copyright white-text text-center py-3">Goose Database | Copyright 2020 | GooseDB | <a href="mailto:admin@horine.dev">admin@horine.dev</a></div>
</footer>
