<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

   <link rel="icon" href="/favicon/favicon.ico">
   <link rel="icon" type="image/png" href="/favicon/goose16.png" sizes="16x16">
   <link rel="icon" type="image/png" href="/favicon/goose32.png" sizes="32x32">
   <link rel="icon" type="image/png" href="/favicon/goose192.png" sizes="128x128">
   <link rel="icon" type="image/png" href="/favicon/goose.png" sizes="512x512">

   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
   <!-- Bootstrap core CSS -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
   <!-- Material Design Bootstrap -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="style.css">
   <script src="index.js" charset="utf-8" defer></script>
   <title>{{title}}</title>
</head>
