<div class="card list text-center search-card search-item" style="width:95%; max-width:60rem;">
   <div class="search-item-header float-left">
      <h4 class="search-item-title"><a href="/ingredient/{{ingredient_id}}">{{name}}</a></h4>
   </div>
</div>
