<div class="card list" style="width:30rem;">
   <div class="card-body text-center">
      <h2 class="font-weight-bold mb-0">404</h2>
      <h3 class="font-weight-bold mb-0">Woops!  We couldn't find that page.</h3>
   </div>
</div>
