<div class="card list text-center" style="width:60rem;">
   <h1 class="mt-4">Welcome to the GOOSE DATABASE!</h1>
   <h4 class="mt-4">Recent Recipes</h4>
</div>

<div class="search-item-container">
   {{#each recipes}}
      {{> recipeSearchElement}}
   {{/each}}
   {{#if filler1}}
      <div class="card list text-center search-card search-item" style="visibility: hidden; width:95%; max-width:60rem;"></div>
   {{/if}}
   {{#if filler2}}
      <div class="card list text-center search-card search-item" style="visibility: hidden; width:95%; max-width:60rem;"></div>
   {{/if}}
</div>
