<div class="card list text-center" style="width:60rem;">
   <div class="card-body recipe-header">
      <div class="header-line">
         <h1 class="recipe-title float-left">{{recipe.title}}</h1>
      </div>
      <div class="header-line">
         <h6 class="recipe-author float-left">{{recipe.author}} - {{recipe.date}}</h6>
      </div>
   </div>
</div>
