<div class="card list text-center search-card" style="width:60rem;">
   <h4>Search</h4>
   <div class="search-bar">
      <input type="text" class="search-input" value="{{searchQuery}}" placeholder="Search...">
      <button type="button" id="search-button" class="search-button action-button"><i class="fas fa-search"></i></button>
   </div>
</div>
