footer {
   background: gray;
}

footer a {
   color: white;
}
a {
   color: inherit;
}
body{
   background: gray;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.page-header,
.page-footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.content {
   margin-top: 1rem;
   margin-bottom: 1rem;
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.recipe-header {
   display: grid;
   float: left;
}

.recipe-info {
   margin-top: 5px;
   display: flex;
   border-width: thin;
   border-style: solid;
   padding: 10px 10px 5px 10px;
   border-left-style: hidden;
   border-right-style: hidden;
}

.recipe-info h6 {
   padding-right: 5px;
   padding-left: 5px;
}

.section-header {
   margin-left: 1rem;
}

.recipe-instruction {
   padding: .25rem 1.25rem;
   margin: 0rem;
}

.recipe-ingredient {
   padding: .25rem 1.25rem;
   margin: 0rem;
}

.recipe-instruction p {
   margin-bottom: 0rem;
}

.recipe-ingredient p {
   margin-bottom: 0rem;
}

.recipe-body li {
   margin-left: 2rem;
   border-width: 0rem;
}

ul.recipe-body  {
   margin-bottom: 1rem;
}

.hidden {
   display: none;
}

.float-right {
   float: right;
}

.float-left {
   float: left;
}

.lh-0 {
   line-height: 0;
}

.indent {
   margin-left: 1rem;
}

.list {
   margin: 0 auto;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
}

.navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #ddd;
  border: 1px solid #dadada;
  border-radius: 6px 0px 0px 6px;
  width: 70px;
  transition: width 1s;
}

.navbar-search-input:focus {
  outline: none;
  width: 500px;
  background-color: #fff;
}

.navbar-search-input:focus + .navbar-search-button {
   background-color: #fff;
   outline: none;
}

.navbar-search-button {
  margin-left: -5px;
  padding: 4px;
  font-size: 16px;
  background-color: #ddd;
  border: 1px solid #dadada;
  border-left-width: 0px;
  border-radius: 0px 6px 6px 0px;
  color: #343434;
  cursor: pointer;
}

.navbar-search-button:hover {
  color: #196312;
}

.navbar-search-button:focus {
  color: #196312;
  outline: none;
}

.green-gradient {
   background: -webkit-linear-gradient(50deg,#3ca832,#196312)!important;
   background: -o-linear-gradient(50deg,#3ca832,#196312)!important;
   background: linear-gradient(40deg,#3ca832,#196312)!important;
}

.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
